@page "/Acerca de"

<center><h1>Grupo FastCode</h1></center>

<center><p id= p1>Nombre de los integrantes </P></center>

<center><p id= p1>Eric Villanueva(Lider)</P></center>
<center><p id= p2>Matricula:</P></center>
<center><p id= p3>2019-8493</P></center>
<center><p id= p1>Aportes a la aplicacion:</P></center>
<center><p id= p1>Creacion de la paguina registro y 50% de la paguina de solicitudes</P></center>

<center><p id= p1>Yunior A. Moreta C.</P></center>
<center><p id= p2>Matricula:</P></center>
<center><p id= p3>2019-7802</P></center>
<center><p id= p1>Aportes a la aplicacion:</P></center>
<center><p id= p1>Creacion de las apis y 50% de la paguina de solicitudes</P></center>

<center><p id= p1>Julio Saul Antigua</P></center>
<center><p id= p2>Matricula:</P></center>
<center><p id= p3>2019-8669</P></center>
<center><p id= p1>Aportes a la aplicacion:</P></center>
<center><p id= p1>Implementacion de la funcion de correo y edicion de home</P></center>
