@page "/Registro"
@using Microsoft.Extensions.Logging
@inject ILogger<Registro> Logger
@using Tarea_9.Data

<div class="container">
    <div class="card mb-5">
        <h4>Solicitud de vacunacion</h4>
        <div class="card-body">
            <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="card">
                    <div class="card-header">
                        <h5>Informacion del usuario</h5>
                    </div>
                    <div class="card-body">
                        <label>Cedula</label>
                        <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                        <ValidationMessage For=@(() => exampleModel.Name) />
                        <label>Nombre</label>
                        <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                        <ValidationMessage For=@(() => exampleModel.Name) />
                        <label>Apellido</label>
                        <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                        <ValidationMessage For=@(() => exampleModel.Name) />
                        <label>Fecha de nacimiento</label>
                        <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                        <ValidationMessage For=@(() => exampleModel.Name) />
                        <label>Tipo de sangre</label>
                        <InputSelect class="form-control" @bind-Value="exampleModel.Name">
                            <option value="" selected disabled>Seleccione el tipo de sangre</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="RH Nulo">RH Nulo</option>
                        </InputSelect>
                        <ValidationMessage For=@(() => exampleModel.Name) />

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Contacto</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label>Telefono</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                            <div class="col">
                                <label>Correo</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Provincia</label>
                                <InputSelect class="form-control" @bind-Value="exampleModel.Name">
                                    <option value="" selected disabled>Seleccione el tipo de sangre</option>
                                    <option value="A+">A+</option>
                                </InputSelect>
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                            <div class="col">
                                <label>Municipio</label>
                                <InputSelect class="form-control" @bind-Value="exampleModel.Name">
                                    <option value="" selected disabled>Seleccione el tipo de sangre</option>
                                    <option value="A+">A+</option>
                                </InputSelect>
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Distrito municipal</label>
                                <InputSelect class="form-control" @bind-Value="exampleModel.Name">
                                    <option value="" selected disabled>Seleccione el tipo de sangre</option>
                                    <option value="A+">A+</option>
                                </InputSelect>
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                            <div class="col">
                                <label>Nombre de la calle</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Numero de la calle</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                            <div class="col">
                                <label>Numero de la casa</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                        </div>
                        <label>Direccion</label>
                        <InputTextArea id="name" class="form-control" @bind-Value="exampleModel.Name" />
                        <ValidationMessage For=@(() => exampleModel.Name) />
                        <div class="row">
                            <div class="col">
                                <label>Longitud</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                            <div class="col">
                                <label>Direccion</label>
                                <InputText id="name" class="form-control" @bind-Value="exampleModel.Name" />
                                <ValidationMessage For=@(() => exampleModel.Name) />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Datos de la vacunacion</h5>
                    </div>
                    <div class="card-body">
                        <label>¿Te has vacunado ya?</label>
                        <InputSelect class="form-control" @bind-Value="exampleModel.Name">
                            <option value="" selected disabled>Seleccione una respuesta</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </InputSelect>
                        <ValidationMessage For=@(() => exampleModel.Name) />
                        <label>Justifique porque deben vacunarlo en su casa</label>
                        <InputTextArea id="name" class="form-control" @bind-Value="exampleModel.Name" />
                        <ValidationMessage For=@(() => exampleModel.Name) />
                    </div>
                </div>
              <div class="row">
                  <div class="col">
                      <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                  <div class="col">
                      <button type="reset" class="btn btn-info">Guardar</button>
                  </div>
              </div>
        </EditForm>
    </div>
    </div>
</div>



@code {
    private ExampleModel exampleModel = new();
    String mensaje = "Hola mundo";
    private void HandleValidSubmit()
    {
        mensaje = exampleModel.Name;

        // Process the valid form
    }
}
